:root {
  --vp-sidebar-width: 300px;

  --vp-c-brand-1: #fa3d8b;
  --vp-c-brand-2: #ff1f7b;
  --vp-c-brand-3: #56bdc0;
  /* --vp-c-brand-soft: ; */

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #fff0fd 50%, #fff0fd 50%);
  --vp-home-hero-image-filter: blur(44px);
}

.dark {
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #255a5c 50%, #255a5c 50%);
}

.VPHero .image-src {
  max-width: 250px;
  max-height: 250px;
}

img.center-image {
  margin: 0 auto;
}

span.highlight.danger {
  color: var(--vp-c-red-2);
  font-weight: 600;
}

.custom-block.tip .custom-block-title {
  color: var(--vp-c-indigo-2);
}

.custom-block.warning .custom-block-title {
  color: var(--vp-c-yellow-2);
}

.custom-block.danger .custom-block-title {
  color: var(--vp-c-red-2);
}
